.carousel-indicators [data-bs-target] {
    height: 30px;
    border-radius: 100%;
}

.gray-bg {
    background-color: #2D2D2D;
}

.about-text {
    padding: 3rem 22%;
}

.about-text h1, .award h1, .aurostars h1, .contact h1 {
    font-family: 'Montserrat Alternates', sans-serif;
}

.directors .round {
    border-radius: 100%;
    overflow: hidden;
    height: 150px;
    width: 150px;
}

.directors span {
    color: #808080;
}

.button-meowch {
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 13px;
    color: #fff;
}

.social-medias a:hover i {
    color: #F296C2;
}

.form-select {
    background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 14 14%27%3e%3cpath fill=%27none%27 stroke=%27%23fff%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27 stroke-width=%272%27 d=%27m2 5 6 6 6-6%27/%3e%3c/svg%3e")
}

.text-gray {
    color: rgb(255, 255, 255, 40%)
}

input::placeholder {
    color: rgb(255, 255, 255, 20%) !important;
}

textarea::placeholder {
    color: rgb(255, 255, 255, 20%) !important;
}