body {
    font-family: 'IBM Plex Sans', sans-serif;
}

.gray-bg {
    background-color: #2D2D2D;
}

.gray-bg-2 {
    background-color: #3d3d3d;
}

.about-text h1, .award div h1, .aurostars h1, .contact h1, .lovestruck h1, #credit-aurostar, .text-hover {
    font-family: 'Montserrat', sans-serif;
}

.directors .round {
    border-radius: 100%;
    overflow: hidden;
    height: 150px;
    width: 150px;
}

.directors span {
    color: #808080;
}

.button-meowch {
    border: 2px solid #fff;
    border-radius: 13px;
    color: #fff;
}

.color-footer {
    color: #808080;
}

.social-medias a:hover i {
    color: #FFF;
}

.form-select {
    background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 14 14%27%3e%3cpath fill=%27none%27 stroke=%27%23fff%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27 stroke-width=%272%27 d=%27m2 5 6 6 6-6%27/%3e%3c/svg%3e")
}

.form-control:focus {
    background-color: #3d3d3d;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 30 30%27%3e%3cpath stroke=%27rgba%28255, 255, 255, 0.40%29%27 stroke-linecap=%27round%27 stroke-miterlimit=%2710%27 stroke-width=%272%27 d=%27M4 7h22M4 15h22M4 23h22%27/%3e%3c/svg%3e");
}

.text-gray {
    color: rgb(255, 255, 255, 40%)
}

input::placeholder {
    color: rgb(255, 255, 255, 20%) !important;
}

textarea::placeholder {
    color: rgb(255, 255, 255, 20%) !important;
}

.bg-aurostars {
    background-image: url("../assets/bg-aurostars.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.lock {
    top: 80%;
}

.inv-border {
    height: 900px;
}

.card-reveal {
    width: 174px;
    height: 715px;
    clip-path: polygon(50% 0, 100% 7%, 100% 93%, 50% 100%, 0 93%, 0 7%);
    background-color: #ffbe7c;
}

.aurostars-mikorin, .aurostars-yukime, .aurostars-venith, .aurostars-carolita, .aurostars-kuro, .aurostars-meiko, .aurostars-default, .bg-card-aurostars {
    width: 170px;
    height: 711px;
    clip-path: polygon(50% 0, 100% 7%, 100% 93%, 50% 100%, 0 93%, 0 7%);
    top: 2px;
    left: 2px;
    bottom: 2px;
    right: 2px;
    background-repeat: no-repeat;
}

.bg-card-aurostars {
    background-color: #020228 !important;
}

.flag-aurostar-1, .flag-aurostar-1, .flag-aurostar-1 {
    width: 140px;
    height: 80px;
    top: 80%;
    clip-path: polygon(0 20%, 100% 20%, 87% 40%, 100% 60%, 0 60%);
    background-color: #ffbe7c;
}

.flag-aurostar-2, .flag-aurostar-2, .flag-aurostar-2 {
    width: 136px;
    height: 76px;
    top: 2px;
    left: 2px;
    bottom: 2px;
    right: 2px;
    clip-path: polygon(0 20%, 100% 20%, 87% 40%, 100% 60%, 0 60%);
    background-color: #3F2979;
}

.flag-aurostar-2 h1, .flag-aurostar-2 h1, .flag-aurostar-2 h1 {
    top: 23%;
    left: 42%;
}

.bg-screen-mikorin {
    background-image: url("../assets/bg-mikorin.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-screen-yukime {
    background-image: url("../assets/bg-yukime.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-screen-venith {
    background-image: url("../assets/bg-venith.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-screen-carolita {
    background-image: url("../assets/bg-carolita.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-screen-kuro {
    background-image: url("../assets/bg-kuro.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-screen-meiko {
    background-image: url("../assets/bg-meiko.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.aurostars-mikorin {
    background-image: url("../assets/mikorin-white.png");
    background-size: 480%;
    background-position: 46%;
}

.aurostars-yukime {
    background-image: url("../assets/yukime-white.png");
    background-size: 690%;
    background-position: 60% 25%;
}

.aurostars-venith {
    background-image: url("../assets/venith-white.png");
    background-size: 670%;
    background-position: 52% 22%;
}

.aurostars-carolita {
    background-image: url("../assets/carolita-white.png");
    background-size: 500%;
    background-position: 52% 45%;
}

.aurostars-kuro {
    background-image: url("../assets/kuro-white.png");
    background-size: 700%;
    background-position: 49% 58%;
}

.aurostars-meiko {
    background-image: url("../assets/meiko-white.png");
    background-size: 350%;
    background-position: 50% 70%;
}

.aurostars-default {
    background-color: #020228 !important;
}

.opacity-4 {
    animation: cardHover 1s ease-in-out;
    opacity: 0.4;
}

.hoverOut {
    animation: cardHoverOut 0.7s ease-in-out;
}

.title-hover {
    display: none;
}

#credit-logo {
    display: none;
}

@keyframes cardHover {
    0% {
        opacity: 1
    }

    100% {
        opacity: 0.4
    }
}

@keyframes cardHoverOut {
    0% {
        opacity: 0.4
    }

    100% {
        opacity: 1
    }
}

@media (min-width: 900px) {
    #credit-logo {
        display: block !important;
    }
}

@media (min-width: 991.98px) {
    .about-text {
        padding: 3rem 22% !important;
    }

    .faq {
        padding: 0 13rem;
    }
    
    .lovestruck img {
        width: 25% !important;
    }

    .aurostars img {
        width: 30% !important;
    }
}


@media (min-width: 1750px) {
    .d-xxxl-flex {
        display: flex !important;
    }
}